:root {
  --orange: #ff6700;
  --green: #bada55;
  --mint: #09d3ac;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
div {
  color: white;
  padding: 0.5rem;
  background: #7d7e7d; /* fallback */
  background: linear-gradient(
    to bottom,
    #7d7e7d 0%,
    #555 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-bottom: 1px dotted #333;
}
button {
  float: right;
  margin-right: 1rem;
  margin-top: -0.25rem;
  outline: none;
  border: none;
  padding: 0.25rem 0.5rem;
}
.submit {
  margin-top: 0;
  padding: 0.5rem;
}
input[type="text"] {
  width: 50%;
  padding-left: 5px;
  height: 2rem;
}
.newItem {
  padding: 0 0.5rem;
}
.App {
  padding: 0px;
  border: none;
}
#root {
  padding: 0px;
  border: none;
}
